/* #region header */

header {
  display: block;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 64px;
  margin-inline: auto;
  background-size: contain;
  background-position: center 64px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1920px;
  max-height: calc(100vh - 64px);
  aspect-ratio: 16 / 9;
}

header.c0101 {
  background-image: url("/images/mockup-1.webp");
}

header.c0102 {
  background-image: url("/images/mockup-2.webp");
}

header.c0201 {
  background-image: url("/images/mockup-3.webp");
}

header.c0202 {
  background-image: url("/images/mockup-4.webp");
}

div > button {
  margin-bottom: 16px;
}

/* #endregion header */

/* #region visual details */

#visual-details {
  margin-top: 80px;
}

#visual-details-container div {
  margin-block: 40px;
}

#visual-details ul {
  padding-left: 1.25rem;
}

/* #endregion visual details */

/* #region reflection */

#reflection {
  margin-block: 80px;
}

#reflection-container p {
  max-width: 70ch;
}

/* #endregion reflection */

/* #region */
/* #endregion */
